.headerContainer {
    position: sticky;
    top: -56px;
    height: 56px;
    width: 100%;
    background: #1E2228;
    border-bottom: 1px solid #5D656D;
    display: flex;
    align-items: center;
}

.headerShow {
    animation: show 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        top: -56px;
    }

    100% {
        top: 0px;
    }
}

.headerHide {
    animation: hide 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        top: 0px;
    }

    100% {
        top: -56px;
    }
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b6a6a;
    width: 40px;
    height: 40px;
    margin-left: 24px;
}

.searchInput {
    width: 60%;
    padding: 16px 32px 16px 8px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: inherit;
    color: white;
    border: none;
    background: transparent;
    transition: border-color 0.25s;
}

.searchInput::placeholder {
    color: #6b6a6a;
    font-size: 1em;
}

.headerMenuContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    margin-left: auto;
}