.previewModalContent {
    position: fixed;
    z-index: 3;
    border: none;
    color: #fff;
    max-height: 50%;
    max-width: 70%;
    background: #10121c;
    inset: 0;
    margin: auto;
    box-shadow: 0px 0px 19px -1px #454545;
}

.previewModalOverlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000212;
    opacity: 0.6;
}

.tagList {
    position: absolute;
    top: -32px;
    left: 0;
    z-index: 4;
    display: flex;
    gap: 8px;
}

.tagButton {
    padding: 4px 8px;
    border-radius: 4px;
    background: #10121c;
    color: #cfcfcf;
    font-size: 0.8rem;
    border: 1px solid #828283;
    outline: none;
}

.tooltipContent {
    padding: 0px 8px;
    border-radius: 4px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 0.6rem;
}

.tooltipArrow {
    fill: black;
}