.previewModalContent {
    position: fixed;
    z-index: 3;
    border: none;
    color: #fff;
    max-height: 50%;
    max-width: 70%;
    background: #10121c;
    inset: 0;
    margin: auto;
    box-shadow: 0px 0px 19px -1px #454545;
}

.previewModalOverlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000212;
    opacity: 0.6;
}