.previewModalContent {
    position: fixed;
    z-index: auto;
    border: none;
    color: #fff;
    max-height: 70%;
    max-width: 70%;
    background: #10121c;
    inset: 0;
    margin: auto;
    box-shadow: 0px 0px 19px -1px #454545;
}

.previewModalOverlay {
    position: fixed;
    z-index: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000212;
    opacity: 0.8;
}

.previewModalCloseButton {
    position: absolute;
    top: 0px;
    left: 105%;
    border: none;
    background: transparent;
    color: #696868;
}

.copyButton {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}

.tagList {
    position: absolute;
    top: -32px;
    left: 0;
    z-index: auto;
    display: flex;
    gap: 8px;
}

.tagButton {
    padding: 4px 8px;
    border-radius: 4px;
    background: #10121c;
    color: #cfcfcf;
    font-size: 0.8rem;
    border: 1px solid #828283;
    outline: none;
}

.tagButton:hover {
    border-color: #396cd8;
}

.tooltipContent {
    padding: 0px 8px;
    border-radius: 4px;
    background: rgb(70, 69, 69);
    color: rgb(206, 205, 205);
    font-weight: bold;
    font-size: 0.6rem;
}

.tooltipArrow {
    fill: rgb(70, 69, 69);
}